<template>
    <div class="news">
        <ul class="news__list">
            <news-item v-for="news of news" :news="news" :key="news.id"></news-item>
        </ul>
    </div>
</template>

<script>
export default {
    props: ['news']
}
</script>

<style lang="sass">
.news

    @media (min-width: 1200px)
        margin-bottom: -30px

    &__list
        display: flex
        flex-wrap: wrap
</style>
