<template>
    <li class="news__item">
        <nuxt-link :to="getUrl" class="news__name">{{ news.name }}</nuxt-link>
        <div class="news__date">{{ getDate }}</div>
        <div class="news__image"></div>
        <div class="news__desc">{{ news.desc }}</div>
        <nuxt-link class="news__more" :to="getUrl">Подробнее</nuxt-link>
    </li>
</template>

<script>
export default {
    props: ['news'],
    computed: {
        getUrl() {
            return `/news/${this.news.id}-${this.news.url}`;
        },
        getDate() {
            return this.$dayjs(this.news.created).format('DD.MM.YYYY')
        }
    }
}
</script>

<style lang="sass">
.news

    &__item
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 10px
        padding: 15px 20px
        display: flex
        flex-direction: column

        @media (min-width: 1200px)
            width: calc((100% / 4) - (90px / 4))
            margin-right: 30px
            margin-bottom: 30px

            &:nth-child(4n + 2)
                margin-right: 0

            &:nth-child(1),
            &:nth-child(2)
                padding: 35px
                width: calc((100% / 2) - (30px / 2))

            &:nth-child(2)
                margin-right: 0

        @media (max-width: 1199px)
            &:not(:last-child)
                margin-bottom: 20px

    &__name
        font:
            size: 20px
            weight: bold
        text-decoration: none
        color: $purple

    &__date
        font:
            size: 12px
            weight: bold
        color: rgba($gray, .3)

    &__image
        height: 180px
        border-radius: 10px
        overflow: hidden
        background-color: #eee
        margin: 10px 0

        @media (min-width: 1200px)
            height: 120px

            &:nth-child(1),
            &:nth-child(2)
                height: 340px

    &__desc
        font:
            size: 14px
            weight: 600
        color: $gray

    &__more
        font:
            size: 14px
            weight: 800
        text-decoration: none
        color: $purple
        margin-left: auto
        margin-top: 15px

</style>
