<template>
    <div class="cart">
        <!--        <div class="cart__title">Ваша корзина</div>-->
        <ul class="cart__list" v-if="list.length">
            <CartItem v-for="(item, index) of list" :key="index" :item="item"/>
        </ul>
        <div class="cart__empty" v-else>Корзина пустая :(</div>
        <form class="form cart__form" @submit.prevent="createOrder">
            <div class="form__group cart__group">
                <label class="form__label cart__label cart__label--name">
                    <input class="form__input cart__input" name="name" v-model="name" placeholder="Имя" required>
                </label>
            </div>
            <div class="form__group cart__group">
                <label class="form__label cart__label cart__label--phone">
                    <input class="form__input cart__input" type="tel" v-mask="'+38 (###) ###-##-##'" v-model="phone"
                           placeholder="Телефон" required>
                </label>
            </div>
            <div class="form__group cart__group">
                <label class="form__label cart__label cart__label--radio">
                    <input type="radio" name="payment" :value="false" v-model="delivery"
                           class="form__radio cart__radio">
                    <span>Самовывоз</span>
                </label>
                <label class="form__label cart__label cart__label--radio">
                    <input type="radio" name="payment" :value="true" v-model="delivery"
                           class="form__radio cart__radio">
                    <span>Доставка</span>
                </label>
            </div>
            <template v-if="delivery">
                <div class="form__group form__group--inline cart__group">
                    <label class="form__label cart__label cart__label--street">
                        <input class="form__input cart__input" name="name" v-model="street" placeholder="Улица"
                               :required="delivery">
                    </label>
                    <label class="form__label cart__label cart__label--house">
                        <input class="form__input cart__input" placeholder="Дом" v-model="house"
                               :required="delivery">
                    </label>
                </div>
                <div class="form__group form__group--inline cart__group">
                    <label class="form__label cart__label cart__label--third">
                        <input class="form__input cart__input" name="name" v-model="entrance" placeholder="Подьезд">
                    </label>
                    <label class="form__label cart__label cart__label--third">
                        <input class="form__input cart__input" placeholder="Этаж" v-model="floor">
                    </label>
                    <label class="form__label cart__label cart__label--third">
                        <input class="form__input cart__input" placeholder="Квартира" v-model="flat">
                    </label>
                </div>
            </template>
            <div class="form__group cart__group">
                <label class="form__label">
                    <textarea class="form__textarea cart__textarea" v-model="comment"
                              placeholder="Примечание к заказу"></textarea>
                </label>
            </div>
            <!--            <div class="cart__group">-->
            <!--                <div class="cart__title">Комментарий</div>-->
            <!--                <label class="form__label">-->
            <!--                    <span class="form__name">Кол-во человек</span>-->
            <!--                    <select v-model="persons">-->
            <!--                        <option>1</option>-->
            <!--                        <option>2</option>-->
            <!--                        <option>3</option>-->
            <!--                        <option>4</option>-->
            <!--                    </select>-->
            <!--                </label>-->
            <!--            </div>-->
            <div class="cart__total">Всего: <span class="cart__amount">{{ amount }}</span> <span class="cart__abbr">грн</span></div>
            <button type="submit" class="button cart__button" :disabled="!!!list.length">Оформить заказ</button>
        </form>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import CartItem from "./CartItem";

export default {
    components: { CartItem },
    data() {
        return {
            isDisabled: false,
            comment: null,
            delivery: false,
            disableButton: false
        }
    },
    mounted() {

    },
    methods: {
        ...mapMutations({
            openModal: 'modal/openModal'
        }),
        async createOrder() {
            if (this.order.list.length > 0 && !this.isDisabled) {
                this.isDisabled = true;
                try {
                    await this.$axios.$post('/orders/create', this.order);
                    this.$store.commit('setHeaderDropdownShow', '')
                    this.$store.commit('cart/clearCart');
                    this.openModal({ template: 'OrderSuccess', position: 'center', className: 'order-success' })
                    this.isDisabled = false;
                } catch (err) {
                    console.log(err);
                }
            }
        }
    },
    computed: {
        amount() {
            let amount = 0;
            this.list.forEach(item => {
                let product = this.$store.getters.products.find(product => {
                    let size = product.options.find(option => option.id === item.size.id);
                    if (size) amount += size.price * item.qty;
                    return size
                });
                item.additionals.forEach(additional => {
                    amount += product?.options.find(option => option.id === additional.id).price * item.qty;
                });
            });
            return amount;
        },
        order() {
            return {
                name: this.$store.getters['cart/order'].name,
                phone: this.$store.getters['cart/order'].phone,
                street: this.$store.getters['cart/order'].address.street,
                house: this.$store.getters['cart/order'].address.house,
                entrance: this.$store.getters['cart/order'].address.entrance,
                floor: this.$store.getters['cart/order'].address.floor,
                flat: this.$store.getters['cart/order'].address.flat,
                comment: this.comment,
                delivery: this.delivery,
                list: this.list
            }
        },

        ...mapFields('cart', [
            'order.name',
            'order.phone',
            // 'order.callback',
            'order.address.street',
            'order.address.house',
            'order.address.entrance',
            'order.address.floor',
            'order.address.flat',
            // 'order.payment',
            'order.persons',
        ]),
        ...mapGetters({
            list: 'cart/getList',
        }),
    },
}
</script>

<style lang="sass">
.cart

    &__title
        font:
            size: 24px
            weight: 800
        margin-bottom: 20px
        line-height: 1

    &__form
        margin-top: 15px

    &__label
        width: calc(50% - 5px)

        &--name
            width: 100%

        &--phone
            width: 100%

        &--street
            width: calc(75% - 5px)

        &--house
            width: calc(25% - 5px)

        &--third
            width: calc(100% / 3 - 5px)

        &--radio
            font-size: 14px

            &:not(:last-child)
                margin-bottom: 5px

    &__input
        width: 100%

    &__textarea
        width: 100%
        height: 80px

    &__radio
        margin-right: 5px

    &__group

        &:not(:last-child)
            margin-bottom: 15px

        &--comment
            margin-top: 15px

    &__empty
        margin: 30px 0 60px
        text-align: center

    &__total
        text-align: center
        margin: 20px 0
        font-size: 14px

        @media (min-width: 1200px)
            font-size: 18px

    &__amount
        font-weight: 800

    &__abbr
        font-weight: 600

    &__button
        width: 100%
</style>
