<template>
    <li class="cart__item" v-if="product">
        <div class="cart__content">
            <img class="cart__image" :src="productImage" alt="">
            <div class="cart__data">
                <div class="cart__name">{{ product.name }}</div>
                <div class="cart__option" v-show="sizeOptionsLength > 1">{{ size.data.name }}</div>
                <div class="cart__topping" v-for="additional of additionals">{{ additional.data.name }}</div>
                <div class="cart__price">
                    {{ price }} <span class="cart__abbr">грн</span>
                </div>
            </div>
            <div class="qty cart__qty">
                <button class="qty__button" @click="changeQTY('increment')">+</button>
                <div class="qty__value">{{ item.qty }}</div>
                <button class="qty__button"
                        :class="{ 'qty__button--remove' : item.qty <= 1}"
                        @click="changeQTY('decrement')">
                    -
                </button>
            </div>
        </div>
        <!--        <CartCombo v-if="hasCombo" v-for="item of item.qty" :key="item"/>-->
    </li>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
    props: {
        item: Object
    },
    data() {
        return {
            size: {},
            additionals: [],
            qty: this.item.qty
        }
    },
    methods: {
        changeQTY(action) {
            let payload = {
                action,
                data: this.item
            }
            this.changeProductQTY(payload);
        },
        ...mapMutations({
            changeProductQTY: 'cart/changeProductQTY',
            removeProduct: 'cart/removeProduct'
        }),
    },

    created() {
        if (!this.product) this.removeProduct(this.item);
    },

    computed: {

        sizeOptionsLength() {
            return this.product.options.filter(option => option.data.type === 1).length;
        },

        price() {
            let amount = 0;
            amount += this.size.price;
            this.item.additionals.forEach(additional => {
                let item = this.additionals.find(item => item.id === additional.id);
                amount += item.price;
            });
            return amount;
        },

        product() {
            return this.$store.getters.products.find(product => {
                let size = product.options.find(option => option.id === this.item.size.id);
                let additionals = product.options.filter(option => {
                    if (option.data.type !== 1 && this.item.additionals.find(additional => option.id === additional.id)) return true;
                });
                this.size = size;
                this.additionals = additionals;
                return size;
            });
        },

        productImage() {
            const path = this.product?.images[0]?.path;
            return (path) ? `${process.env.BASE_URL}/images/products/${path}` : require(`~/static/plug.jpg`);
        },

        hasCombo() {
            return this.additionals.find(additional => additional.data.type === 3);
        }

    }
}
</script>

<style lang="sass" scoped>
.cart

    &__item
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 10px
        padding: 10px

        @media (min-width: 1200px)
            padding: 15px

        &:not(:last-child)
            margin-bottom: 15px

    &__content
        display: flex
        align-items: center

    &__image
        width: 70px
        margin-right: 15px

    &__remove
        width: 16px
        height: 16px
        background-color: #ff3225
        border-radius: 5px
        text-align: center
        font-weight: 900
        color: $white
        font-size: 14px
        line-height: 15px
        cursor: pointer

    &__name
        font-size: 15px
        line-height: 1.2

    &__option
        font-weight: 600
        margin-top: 5px
        border-bottom: 1px solid $yellow

        @media (min-width: 1200px)
            font-size: 13px

    &__topping
        font-weight: 600
        border-bottom: 1px solid $purple
        margin-top: 5px

        @media (min-width: 1200px)
            font-size: 13px

    &__data
        display: flex
        flex-direction: column
        font-size: 14px
        font-weight: bold
        line-height: 1.5
        align-items: flex-start
        padding-right: 15px

    &__price
        font-weight: 900
        font-size: 15px
        margin-top: 5px

    &__button
        background-color: $yellow
        border: none
        border-radius: 7px
        outline: none
        width: 28px
        height: 28px
        cursor: pointer
        font-size: 16px
        box-shadow: 0 0 7px rgba($black, .1)

        &:hover
            background-color: #ecc525

        @media (min-width: 1200px)
            width: 40px
            height: 40px
            border-radius: 10px
            font-size: 20px

.qty
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: auto

    &__value
        font-size: 12px
        text-align: center
        margin: 5px 0

    &__button
        background-color: $yellow
        border: none
        border-radius: 7px
        outline: none
        width: 28px
        height: 28px
        cursor: pointer
        font-size: 16px
        box-shadow: 0 0 7px rgba($black, .1)
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background-color: #ecc525

        &--remove
            background-color: #ff0401
            color: $white

            &:hover
                background-color: #c30503


</style>
