<template>
    <div class="cart__combo">
        <div class="form__select cart__select">
            <select>
                <option>Pepsi</option>
                <option>Fanta</option>
            </select>
        </div>
        <div class="form__select cart__select">
            <select>
                <option>Картофель фри</option>
                <option>Картофельные дипы</option>
            </select>
        </div>
        <div class="form__select cart__select">
            <select>
                <option>Кетчуп</option>
                <option>Барбекю</option>
                <option>Майонез</option>
            </select>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="sass" scoped>
.cart

    &__combo
        border: 1px dashed $yellow
        border-radius: 10px
        padding: 10px
        display: flex
        flex-direction: column
        margin-top: 10px

    &__select

        &:not(:last-child)
            margin-bottom: 5px
</style>
