<template>
    <section class="section about">
        <h1 class="section__title">О нас</h1>
        <div class="about__desc">
            Наши курьеры работают по всему Киеву. Вам не придется долго ждать заказ. Если мы привезём Вам еду с
            опозданием - получайте 1+1 при следующем заказе. В настоящее время доставка осуществляется в зоне,
            выделенной зеленым цветом, но мы готовы обсудить индивидуальые условия. Звоните на номер +38 (098) 877-08-80
            и уточняйте детали. Уверяем Вас, мы прийдем к общему консенсусу.
        </div>
    </section>
</template>

<style lang="sass">
.about

    @media (min-width: 1200px)
        background-color: #fafafa
        padding-bottom: 0

    &__desc
        color: $gray-lite
</style>
