<template>
    <client-only>
        <agile :options="options">
            <div class="agile__slide">
                <picture class="agile__image">
                    <source srcset="~static/slides/sushi--mobile.jpg" media="(max-width: 1199px)">
                    <img src="~static/slides/sushi.jpg" alt="">
                </picture>
            </div>
            <div class="agile__slide">
                <picture class="agile__image">
                    <source srcset="~static/slides/pizza--mobile.jpg" media="(max-width: 1199px)">
                    <img src="~static/slides/pizza.jpg" alt="">
                </picture>
            </div>
            <div class="agile__slide">
                <picture class="agile__image">
                    <source srcset="~static/slides/burger--mobile.jpg" media="(max-width: 1199px)">
                    <img src="~static/slides/burger.jpg" alt="">
                </picture>
            </div>
<!--            <div class="agile__slide">-->
<!--                <div class="agile__content">-->
<!--                    <div class="agile__title">-->
<!--                        Заказывай 1 пиццу-->
<!--                        и получай скидку-->
<!--                        на вторую 30%-->
<!--                    </div>-->
<!--                    <nuxt-link to="" class="agile__button">Подробнее</nuxt-link>-->
<!--                </div>-->
<!--                <img src="~assets/slide.jpg" alt="" class="agile__image">-->
<!--            </div>-->
        </agile>
    </client-only>
</template>

<script>

export default {

    name: 'Carousel',

    data: () => ({
        options: {
            autoplay: true,
            autoplaySpeed: 5000,
            navButtons: false,
            responsive: [
                {
                    breakpoint: 600,
                },
            ]
        }
    }),

}
</script>

<style lang="sass">

.agile

    @media (max-width: 1199px)
        border-top: 1px solid $white
        height: calc(46.517vw)

    @media (min-width: 1200px)
        width: 1170px
        height: 293px
        margin: 45px auto 60px
        border-radius: 10px
        overflow: hidden
        position: relative
        box-shadow: 0 0 20px rgba($black, .2)

    &__slide
        position: relative

    &__content
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        padding: 30px 15px 40px
        display: flex
        flex-direction: column

        @media (min-width: 1200px)
            padding: 0 60px
            top: 50%
            height: auto
            transform: translateY(-50%)

    &__title
        width: 200px
        color: $white
        line-height: 1.2
        font:
            weight: 900
            size: 20px

        @media (min-width: 1200px)
            font-size: 64px
            width: 640px

    &__button
        width: 230px
        height: 36px
        background-color: #461d7c
        display: flex
        text-decoration: none
        justify-content: center
        align-items: center
        color: $white
        font-size: 14px
        border-radius: 10px
        margin: auto auto 0 auto

        &:hover
            background-color: $purple-hover

        @media (min-width: 1200px)
            margin: 20px 0 0 0
            width: 260px
            height: 56px
            border-radius: 28px
            font-size: 16px

    &__image
        width: 100%

    &__dots
        position: absolute
        left: 50%
        bottom: 25px
        transform: translateX(-50%)

    &__dot

        &:not(:last-child)
            margin-right: 5px

            @media (min-width: 1200px)
                margin-right: 12px

        button
            border-radius: 50%
            width: 6px
            height: 6px
            background-color: rgba($white, .3)
            border: none
            padding: 0
            box-shadow: 0 0 7px rgba(#000, .1)

            &:hover
                background-color: rgba($white, .5)

            @media (min-width: 1200px)
                width: 12px
                height: 12px

        &--current

            button
                background-color: $white

</style>
