<template>
    <section class="section categories">
        <ul class="categories__list">
            <li
                v-for="category of categories" :key="category.id"
                class="categories__item"
            >
                <nuxt-link :to="category.url" class="categories__link">
                    <img
                        :src="getImage(category.url)"
                        :alt="category.name"
                        class="categories__image"
                        :class="`categories__image--${category.url}`"
                    >
                    <span class="categories__name">{{ category.name }}</span>
                </nuxt-link>
            </li>
        </ul>
    </section>
</template>

<script>
export default {
    computed: {
        categories() {
            return this.$store.getters.categories
        },
    },
    methods: {
        getImage(url) {
            try {
                return require(`~/assets/images/categories/${url}.png`)
            } catch (error) {
                return ''
            }
        }
    }
}
</script>

<style lang="sass" scoped>
.categories
    padding-top: 30px
    padding-bottom: 30px

    @media (min-width: 1200px)
        padding-top: 0px
        background-color: $white
        //box-shadow: 0 0 7px rgba($black, .1)

    &__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: -25px

        @media (min-width: 1200px)
            justify-content: flex-start
            margin-bottom: 0

    &__item
        width: calc(50% - 10px)
        margin-bottom: 25px
        position: relative

        @media (min-width: 1200px)
            width: calc((100% / 4) - (90px / 4))
            background-color: $white
            margin-right: 30px
            margin-bottom: 30px

            &:nth-child(4n)
                margin-right: 0

    &__link
        display: flex
        width: 100%
        height: 120px
        border-radius: 10px
        background-color: $white
        box-shadow: 0 0 7px rgba($black, .1)
        text-decoration: none
        align-items: center
        flex-direction: column
        border: 1px solid $yellow

        @media (min-width: 1200px)
            align-items: center
            justify-content: center
            height: 210px

        &:hover
            box-shadow: 0 0 27px rgba($black, .15)
            background-color: $yellow

    &__image
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -85%)

        @media (min-width: 1200px)
            transform: translate(-50%, -80%)

        &--pizza,
        &--bouls
            width: 90px

            @media (min-width: 1200px)
                width: 160px

        &--sushi
            width: 120px
            transform: translate(-50%, -90%)

            @media (min-width: 1200px)
                width: 230px

        &--burgers
            width: 125px

            @media (min-width: 1200px)
                width: 225px

        &--wok
            width: 140px

            @media (min-width: 1200px)
                width: 240px

        &--sets
            width: 120px

            @media (min-width: 1200px)
                width: 210px

        &--fry
            width: 140px

            @media (min-width: 1200px)
                width: 225px

        &--drinks
            width: 40px

            @media (min-width: 1200px)
                width: 70px

    &__name
        font:
            size: 18px
            weight: bold
        color: $purple
        margin: auto 0 15px
        text-transform: uppercase

        @media (min-width: 1200px)
            font-size: 22px
            margin-bottom: 20px
            font-weight: bold
</style>
