<template>
    <section class="section delivery">
        <h2 class="section__title">Зона доставки</h2>
        <div class="delivery__container">
            <div class="delivery__aside">
                <div class="delivery__block">
                    <div class="delivery__desc">
                        <p class="delivery__p">
                            В скором будущем мы планируем расширить область доставки. Ты находишься за пределами зеленой
                            зоны, но хочешь сделать крупный заказ?
                        </p>
                        <p class="delivery__p">
                            Не стесняйся — позвони по номеру +38 (098) 877-08-80,
                            и пообщайся с нашим менеджером.
                            Мы обязательно договоримся!
                        </p>
                    </div>
                </div>
                <div class="time">
                    <svg-icon class="time__icon" name="work-hours"/>
                    <div class="time__desc">
                        Принимаем ваши заказы каждый день
                        с 11:00 до 22:30
                    </div>
                </div>
            </div>
            <div class="delivery__map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.5178119681273!2d30.320363815849714!3d50.39418669929816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cb8d8e2fe51d%3A0x9e4e1a0cdcc6f2aa!2syim%20yim!5e0!3m2!1sru!2sua!4v1626735694177!5m2!1sru!2sua"
                    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
</template>

<style lang="sass" scoped>
.delivery

    @media (min-width: 1200px)
        position: relative
        z-index: 1
        background-color: #fafafa

        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            box-shadow: 0 0 7px rgba($black, .1)
            width: calc(50% + 285px)
            border-radius: 0 10px 10px 0
            height: 100%
            background-color: $white
            z-index: -1

    &__container

        @media (min-width: 1200px)
            display: flex

    &__aside

        @media (min-width: 1200px)
            margin-right: 30px
            display: flex
            flex-direction: column
            justify-content: space-between

    &__title
        line-height: 1
        font:
            size: 18px
            weight: 600
        margin-bottom: 10px

        @media (min-width: 1200px)
            font-size: 24px

    &__desc
        font:
            size: 14px
            weight: 600
        color: $gray-lite

        @media (min-width: 1200px)
            font-size: 16px

    &__block

        &:not(:first-child)
            margin-top: 20px

    &__p

        &:not(:last-child)
            margin-bottom: 20px

    &__map
        border-radius: 10px
        background-color: #eee
        margin-top: 20px
        overflow: hidden
        border: 1px solid $yellow
        box-shadow: 0 0 7px rgb(0 0 0 / 10%)

        @media (min-width: 1200px)
            min-width: 655px
            margin-top: -60px

    &__image
        width: 100%
        max-width: none

.time
    display: flex
    margin-top: 30px

    &__icon
        width: 62px
        height: 30px
        margin: auto 10px auto 0

    &__desc
        color: $gray
        width: 300px
        font:
            size: 16px
            weight: 600

        @media (min-width: 1200px)
            font-size: 18px


</style>
