<template>
    <div class="section features">
        <ul class="features__list">
            <li class="features__item">
                <svg-icon name="features/products" class="features__icon"/>
                <div class="features__name">Гарантия качества</div>
                <div class="features__desc">
                    Гарантируем отменное качество еды, поскольку готовим ее из отборных продуктов.
                </div>
            </li>
            <li class="features__item">
                <svg-icon name="features/menu" class="features__icon"/>
                <div class="features__name">Уникальное меню от шефа</div>
                <div class="features__desc">
                    Самые популярные блюда европейской, азиатской и американской кухни, созданные в лучших традициях, по выверенным рецептам.
                </div>
            </li>
            <li class="features__item features__item--fgb">
                <svg-icon name="features/fgb" class="features__icon"/>
                <div class="features__name">Чистота и гигиена</div>
                <div class="features__desc">
                    Работаем со строгим соблюдением всех норм санитарии и гигиены.
                </div>
            </li>
            <li class="features__item">
                <svg-icon name="features/delivery" class="features__icon"/>
                <div class="features__name">Удобная доставка и оплата</div>
                <div class="features__desc">
                    Получи свой заказ в течение 60 минут, и рассчитайся за него доступным способом. Принимаем наличные, кредитные и расчетные карты.
                </div>
            </li>
        </ul>
    </div>
</template>

<style lang="sass" scoped>
.features
    background-color: #fafafa

    @media (min-width: 1200px)
        padding-top: 60px

    &__list
        display: flex
        flex-wrap: wrap

        @media (min-width: 1200px)
            justify-content: space-between

    &__item
        width: 50%
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 20px

        @media (min-width: 1200px)
            width: 270px
            height: 260px
            border-radius: 10px
            margin-bottom: 0
            justify-content: center

            &:nth-child(odd)
                //box-shadow: 0 0 7px rgba($black, .1)

    &__name
        text-align: center
        max-width: 110px
        line-height: 1.2
        font:
            size: 16px
            weight: bold

        @media (min-width: 1200px)
            font-size: 20px
            max-width: 180px
            height: 48px

            .features__item--fgb &
                width: 140px

    &__desc
        font-size: 15px
        font-weight: 400
        color: $gray-lite
        text-align: center
        margin-top: 10px
        line-height: 1.2
        padding: 0 15px
        height: 90px
        display: flex

        @media (max-width: 1199px)
            display: none

    &__icon
        height: 58px
        width: 58px
        margin-bottom: 10px

        @media (min-width: 1200px)
            width: 70px
            height: 70px

</style>
