<template>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__aside footer__aside--left">
                <svg-icon class="footer__logo" name="logo--footer"/>
                <div class="footer__desc">Наша команда професионалов старается сделать Вашу жизнь лучше! Спасибо, что
                    выбираете
                    нас!
                </div>
            </div>
            <div class="footer__wrapper">
                <div class="footer__aside">
                    <div class="footer__block">
                        <div class="footer__name">Навигация:</div>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <nuxt-link to="/" class="footer__link">Главная</nuxt-link>
                            </li>
                            <!--                            <li class="footer__item">-->
                            <!--                                <nuxt-link to="/eat" class="footer__link">Еда</nuxt-link>-->
                            <!--                            </li>-->
                            <!--                            <li class="footer__item">-->
                            <!--                                <nuxt-link to="/kitchen" class="footer__link">На Кухне</nuxt-link>-->
                            <!--                            </li>-->
<!--                            <li class="footer__item">-->
<!--                                <nuxt-link to="/delivery" class="footer__link">Доставка</nuxt-link>-->
<!--                            </li>-->
                            <li class="footer__item">
                                <a href="https://yimyim.customer.smartsender.eu/lp/2DjmcQm5" rel="noopener" class="footer__link">Чат-бот</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__aside">
                    <div class="footer__block">
                        <div class="footer__name">Время работы:</div>
                        <div class="footer__text">с 11:00-22:30</div>
                    </div>
                    <div class="footer__block footer__block--order">
                        <div class="footer__name">Оформить заказ</div>
                        <a class="footer__link" href="tel:+38 (098) 877-08-80">+38 (098) 877-08-80</a>
                    </div>
                </div>
                <div class="footer__block footer__block--social">
                    <div class="footer__name">Наши соц. сети:</div>
                    <div class="footer__social">
                        <a
                            rel="noopener"
                            href="https://instagram.com/yimyim.food?igshid=yhyc7zz82ft2"
                            target="_blank"
                           class="footer__icon footer__icon--instagram"></a>
                        <a rel="noopener" href="https://www.facebook.com/yimyim.kyiv" target="_blank"
                           class="footer__icon footer__icon--facebook"></a>
                        <a rel="noopener" href="https://t.me/YIMYIM_FOOD" target="_blank"
                           class="footer__icon footer__icon--telegram"></a>
                    </div>
                </div>
            </div>
            <div class="footer__payments">
                <img class="footer__payment" src="~assets/images/payments/privat.svg"/>
                <img class="footer__payment footer__payment--visa" src="~assets/images/payments/visa.svg" alt="">
                <img class="footer__payment footer__payment--mastercard"
                     src="~assets/images/payments/mastercard.svg"/>
            </div>
        </div>
    </footer>
</template>

<style lang="sass">
.footer
    background-color: $gray-dark
    overflow: hidden
    padding: 10px calc(50% - 145px) 20px
    margin-top: auto

    @media (min-width: 1200px)
        padding: 50px calc(50% - 505px) 30px calc(50% - 485px)

    &__container
        position: relative

        @media (min-width: 1200px)
            display: flex
            flex-wrap: wrap
            justify-content: space-between

    &__logo
        height: 37px
        width: 195px
        margin: 35px auto 20px
        display: flex

        @media (min-width: 1200px)
            width: 348px
            height: 66px
            margin: 0
            object-fit: cover

    &__desc
        color: rgba($white, .8)
        font:
            size: 14px

        @media (min-width: 1200px)
            margin-top: 15px
            width: 360px

    &__wrapper
        margin-top: 20px
        display: flex

        @media (max-width: 1199px)
            position: relative
            padding-bottom: 35px

        @media (min-width: 1200px)
            width: 320px
            justify-content: space-between
            margin-top: 0

    &__aside
        width: 50%
        line-height: 1

        @media (min-width: 1200px)
            display: flex
            flex-direction: column

        &--left
            width: 100%
            line-height: 1.4
            display: flex
            flex-direction: column

            @media (min-width: 1200px)
                width: 390px

    &__block

        &:not(:last-child)
            margin-bottom: 25px

        &--social

            @media (min-width: 1200px)
                position: absolute
                right: 15px
                top: 0

        &--order

            @media (min-width: 1200px)
                margin-top: auto


    &__name
        color: rgba($white, .4)
        margin-bottom: 10px
        font-size: 12px
        line-height: 1

        @media (max-width: 1199px)

            .footer__block--social &
                display: none

        @media (min-width: 1200px)
            font-size: 16px

    &__item

        &:not(:last-child)
            margin-bottom: 10px

    &__link, &__text
        color: rgba($white, .8)
        font-size: 14px
        text-decoration: none

        @media (min-width: 1200px)
            font-size: 16px

    &__link

        &:hover
            color: $yellow

    &__social
        display: flex

        @media (max-width: 1199px)
            position: absolute
            right: 0
            bottom: 0
            width: 50%

    &__icon
        width: 18px
        height: 18px
        opacity: .3
        background-size: cover

        &:hover
            opacity: 1

        &--instagram
            background-image: url(~assets/sprite/svg/instagram.svg)
            margin-right: 10px

        &--facebook
            background-image: url(~assets/sprite/svg/facebook.svg)
            margin-right: 10px

        &--telegram
            background-image: url(~assets/sprite/svg/telegram.svg)


    &__payments
        display: flex
        justify-content: center
        margin: 30px 0

        @media (min-width: 1200px)
            margin: auto 0 0 0

    &__payment
        height: 20px
        object-fit: cover
        margin: 0 4px

        &--visa
            width: 62px

        &--mastercard
            width: 26px

    &__copyright
        color: rgba($white, .8)
        font:
            size: 12px

        @media (min-width: 1200px)
            width: 100%
            text-align: center
            margin-top: 60px

</style>
