<template>
    <div class="order-success">
        <svg-icon class="order-success__icon" name="approved"></svg-icon>
        <div class="order-success__name">Ваш заказ успешно оформлен!</div>
        <div class="order-success__desc">Мы свяжемся с Вами в ближайшее время.</div>
    </div>
</template>

<style lang="sass">
.order-success
    text-align: center

    &__icon
        width: 57px
        height: 57px
        margin: 0 auto
        display: block

    &__name
        line-height: 1.2
        font:
            size: 20px
            weight: 900
        margin: 15px 0 10px

    &__desc
        font:
            size: 12px
            weight: 700
        color: rgba(#212121, .6)
</style>
