<template>
    <div class="phones">
        <div class="phones__title">Телефоны</div>
        <ul class="phones__list">
            <li class="phones__item">
                <a class="phones__link" href="tel:+38 (098) 877-08-80">
                    <svg-icon class="phones__icon" name="phones/kyivstar"></svg-icon>
                    +38 (098) 877-08-80
                </a>
            </li>
<!--            <li class="phones__item">-->
<!--                <a class="phones__link" href="tel:+38 (098) 877-08-80">-->
<!--                    <svg-icon class="phones__icon" name="phones/mts"></svg-icon>-->
<!--                    +38 (098) 877-08-80-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="phones__item">-->
<!--                <a class="phones__link" href="tel:+38 (098) 877-08-80">-->
<!--                    <svg-icon class="phones__icon" name="phones/lifecell"></svg-icon>-->
<!--                    +38 (098) 877-08-80-->
<!--                </a>-->
<!--            </li>-->
        </ul>
        <div class="phones__info">
            Заказы принимаем с 11:00-22:30
            Без выходных
        </div>
    </div>
</template>

<style lang="sass">
.phones
    text-align: center

    &__title
        margin-bottom: 10px
        font:
            weight: 800
            size: 18px

    &__item
        color: $gray-dark
        font:
            size: 16px
            weight: bold


    &__link
        text-decoration: none
        color: inherit
        display: inline-flex
        align-items: center

    &__icon
        width: 16px
        height: 16px
        margin-right: 10px

    &__info
        color: rgba($gray-dark, .7)
        margin-top: 10px
        font:
            size: 14px

</style>
