<template>
    <div class="account">
        <div class="account__title">Пользователь</div>

    </div>
</template>

<style lang="sass">
.account
    text-align: center

    &__title
        margin-bottom: 10px
        font:
            weight: 800
            size: 18px

</style>
