<template>
    <header class="header">
        <nuxt-link to="/" class="header__logo" @click.native="hideDropdown">
            <svg-icon class="header__picture header__picture--mobile" name="header__logo--mobile"/>
            <svg-icon class="header__picture header__picture--desktop" name="header__logo"/>
        </nuxt-link>
        <HeaderList/>
        <HeaderNav/>
    </header>
</template>

<script>
import { mapMutations } from "vuex";

export default {
    methods: {
        ...mapMutations({
            openModal: 'modal/openModal'
        }),
        hideDropdown() {
            if (this.headerDropdownShow) this.$store.commit('setHeaderDropdownShow', '')
        },
    },
    computed: {
        headerDropdownShow() {
            return this.$store.getters.headerDropdownShow;
        }
    }
}
</script>

<style lang="sass">

.header
    display: flex
    align-items: center
    padding: 0 20px
    background-color: #fcd228
    @include fixed($top: 0, $left: 0)
    @include size(100%, 48px)
    z-index: 10
    box-shadow: 0 0 7px rgb(0 0 0 / 10%)

    @media (min-width: 1200px)
        height: 60px
        padding: 0 calc(50% - 585px)

    &__logo
        margin-left: 15px
        display: flex

        @media (min-width: 1200px)
            order: -2

    &__picture
        width: 32px
        height: 36px

        @media (min-width: 1200px)
            width: 132px
            height: 39px

        &--mobile

            @media (min-width: 1200px)
                display: none

        &--desktop

            @media (max-width: 1199px)
                display: none

    &__list
        margin-left: auto
        display: flex
        align-items: center
        margin-right: 10px

        @media (min-width: 1200px)
            position: relative
            margin-right: 0

    &__item
        margin-right: 10px
        display: flex
        height: 100%
        align-items: center
        cursor: default

        @media (min-width: 1200px)
            position: relative

            &--right
                position: initial

            &--phone
                margin-right: 50px

        &--hover,
        &:hover

            &::after
                content: ''
                position: absolute
                left: 0
                bottom: -30px
                height: 30px
                width: 100%

                @media (min-width: 1200px)
                    min-width: 290px

    &__mask
        position: fixed
        left: 0
        bottom: 0
        right: 0
        top: 48px
        z-index: 10
        background-color: rgba($black, .7)
        transition: opacity .25s linear
        pointer-events: none
        opacity: 0

        @media (max-width: 1199px)

            .header__item--hover &
                opacity: 1
                pointer-events: initial

        @media (min-width: 1200px)
            top: 60px

            .header__item--hover.header__item--cart &
                opacity: 1
                pointer-events: initial

            .header__item:not(.header__item--cart):hover &
                opacity: 1

    &__dropdown
        position: absolute
        width: 290px
        max-width: 290px
        left: 50%
        top: 60px
        transform: translateX(-50%)
        background-color: $white
        box-sizing: border-box
        padding: 30px
        border-radius: 10px
        margin: 0 auto
        z-index: 15
        opacity: 0
        pointer-events: none
        transition: opacity .25s linear
        max-height: calc(100vh - 130px)
        overflow: auto

        @media (min-width: 1200px)
            max-height: calc(100vh - 88px)

        .header__item--cart &
            padding: 15px

            @media (min-width: 1200px)
                max-width: 355px
                width: 355px
                padding: 30px

        @media (max-width: 1199px)

            .header__item--hover &
                opacity: 1
                pointer-events: initial

        @media (min-width: 1200px)

            .header__item--right &
                left: auto
                right: 0
                transform: none

            .header__item--hover.header__item--cart &
                opacity: 1
                pointer-events: initial

            .header__item:not(.header__item--cart):hover &
                opacity: 1
                pointer-events: initial

.phone
    display: flex
    padding: 5px

    &__icon
        margin: auto
        width: 20px
        height: 20px

    &__number
        margin-left: 10px
        font:
            size: 16px
            weight: 700

        @media (max-width: 1199px)
            display: none


</style>
