<template>
    <div class="header__list">
        <header-item class="header__item--phone" item="phone">
            <template v-slot:main>
                <div class="phone">
                    <svg-icon class="phone__icon" name="phone"/>
                    <div class="phone__number">+38 (098) 877-08-80</div>
                </div>
            </template>
            <template v-slot:dropdown>
                <Phones/>
            </template>
        </header-item>
<!--        <header-item class="header__item&#45;&#45;right">-->
<!--            <template v-slot:main>-->
<!--                <div class="user">-->
<!--                    <svg-icon class="user__icon" name="favorites"/>-->
<!--                </div>-->
<!--            </template>-->
<!--            <template v-slot:dropdown>-->
<!--                <Favorites/>-->
<!--            </template>-->
<!--        </header-item>-->
<!--        <header-item class="header__item&#45;&#45;right">-->
<!--            <template v-slot:main>-->
<!--                <div class="user">-->
<!--                    <svg-icon class="user__icon" name="user"/>-->
<!--                </div>-->
<!--            </template>-->
<!--            <template v-slot:dropdown>-->
<!--                <User/>-->
<!--            </template>-->
<!--        </header-item>-->
        <header-item class="header__item--cart header__item--right" item="cart">
            <template v-slot:main>
                <div class="user">
                    <span class="user__icon" ref="cartIcon">
                        <svg-icon name="basket"/>
                        <span class="user__count">{{ count }}</span>
                    </span>
                </div>
            </template>
            <template v-slot:dropdown>
                <Cart/>
            </template>
        </header-item>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
    computed: {
        ...mapGetters({
            list: 'cart/getList',
        }),
        count() {
            return this.list.reduce((total, item) => total + +item.qty, 0);
        },
        headerDropdownShow() {
            return this.$store.getters.headerDropdownShow;
        }
    },
    watch: {
        count() {
            this.$refs.cartIcon.classList.add('user__icon--changed');
            setTimeout(() => {
                this.$refs.cartIcon.classList.remove('user__icon--changed');
            }, 500)
        }
    },
    methods: {
        ...mapMutations({
            openModal: 'modal/openModal'
        }),
        hideDropdown() {
            if (this.headerDropdownShow) this.$store.commit('setHeaderDropdownShow', '')
        },
    }
}
</script>

<style lang="sass">
.user
    display: flex
    width: 30px
    height: 30px

    &__icon
        position: relative
        display: flex
        margin: auto
        width: 20px
        height: 20px
        cursor: pointer

        &--changed
            animation: change .5s linear

            @keyframes change
                0%, 100%
                    transform: scale(1)
                50%
                    transform: scale(1.5)

    &__count
        position: absolute
        width: 14px
        height: 14px
        right: -7px
        top: -7px
        background-color: $red
        border-radius: 50%
        color: $white
        text-align: center
        line-height: 14px
        font:
            size: 9px
</style>
