<template>
    <div class="nav" :class="{ 'nav--open' : isOpen }">
        <div class="nav__switcher" @click="openNav">
            <span class="nav__line"></span>
            <span class="nav__line"></span>
            <span class="nav__line"></span>
        </div>
        <div class="nav__container">
            <div class="nav__mask" @click="closeNav"></div>
            <div class="nav__content">
                <div class="nav__header">
                    <div class="nav__logo"></div>
                    <div class="nav__close" @click="closeNav"></div>
                </div>
                <ul class="nav__list">
                    <li class="nav__item" v-for="item of items">
                        <nuxt-link
                            :to="item.path"
                            class="nav__link"
                            @click.native="closeNav"
                            exact-active-class="nav__link--active">
                            {{ item.name }}
                        </nuxt-link>
                    </li>
                </ul>
<!--                <button class="button nav__button">Войти в личный кабинет</button>-->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            items: [
                {
                    path: '/',
                    name: 'Главная'
                },
                // {
                //     path: '/kitchen',
                //     name: 'На кухне'
                // },
                // {
                //     path: '/delivery',
                //     name: 'Доставка'
                // },
                // {
                //     path: '/news',
                //     name: 'Новости'
                // }
            ],
            isOpen: false
        }
    },
    methods: {
        openNav() {
            this.isOpen = true;
        },
        closeNav() {
            this.isOpen = false;
        },
    }
}
</script>

<style lang="sass" scoped>
.nav
    position: relative
    z-index: 20

    @media (min-width: 1200px)
        order: -1
        margin-left: 75px

    &__container

        @media (max-width: 1199px)
            position: fixed
            left: 0
            top: 0
            width: 100%
            height: 100%

            .nav:not(.nav--open) &
                display: none

    &__mask

        @media (max-width: 1199px)
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-color: rgba($black, .7)
            z-index: -1

            .nav:not(.nav--open) &
                display: none

    &__content

        @media (max-width: 1199px)
            background-color: $white
            border-radius: 10px
            padding: 15px calc(50% - 145px) 45px

    &__header
        display: flex
        align-items: center
        justify-content: space-between

        .nav:not(.nav--open) &
            display: none

    &__close
        width: 26px
        height: 26px
        background:
            image: url(~assets/icons/close.svg)
            repeat: no-repeat
            position: 50% 50%
            size: 16px

        @media (min-width: 1200px)
            display: none

    &__logo

        @media (max-width: 1199px)
            width: 46px
            height: 52px
            background:
                image: url(~assets/icons/logo--mobile-header.svg)
                size: cover

    &__list

        @media (max-width: 1199px)
            margin-top: 30px

        @media (min-width: 1200px)
            display: flex

    &__item
        display: flex

        @media (max-width: 1199px)
            border-bottom: 1px solid #e6e6e6

    &__link
        text-decoration: none

        @media (max-width: 1199px)
            padding: 8px
            width: 100%
            font:
                size: 14px
            color: $gray-dark

        @media (min-width: 1200px)
            height: 60px
            padding: 0 15px
            display: flex
            align-items: center
            justify-content: center
            font:
                size: 16px
                weight: bold
            color: $purple
            position: relative

            &:hover,
            &--active

                &::after
                    content: ''
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 100%
                    height: 3px
                    background-color: $purple

    &__switcher
        width: 24px
        height: 24px
        padding: 8px 0 7px
        box-sizing: border-box
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: center
        background-color: #fff
        border-radius: 4px

        @media (min-width: 1200px)
            display: none

    &__line
        width: 14px
        height: 1px
        background-color: #000


    &__button
        margin: 25px auto 20px

        @media (min-width: 1200px)
            display: none

        .nav:not(.nav--open) &
            display: none

</style>
