<template>
    <div
        class="header__item"
        :class="{ 'header__item--hover' : headerDropdownShow === item }">
        <div class="header__action" @click.stop="showDropdown">
            <slot name="main"></slot>
        </div>
        <div class="header__mask" @click.stop.prevent="hideDropdown"></div>
        <div class="header__dropdown">
            <slot name="dropdown"></slot>
        </div>
    </div>
</template>

<script>

export default {
    props: ['item'],
    methods: {
        showDropdown() {
            if (this.item === this.headerDropdownShow) this.hideDropdown();
            else this.$store.commit('setHeaderDropdownShow', this.item)
        },
        hideDropdown() {
            this.$store.commit('setHeaderDropdownShow', '')
        },
    },
    computed: {
        headerDropdownShow() {
            return this.$store.getters.headerDropdownShow;
        }
    }
}
</script>
