<template>
    <div class="product__item">
        <slot name="arrows"></slot>
        <ProductPreview
            :type="type"
            :product="product"
            :images="product.images"/>
        <div class="product__feature" v-if="product['feature']">
            <svg-icon class="product__icon" :name="product['feature']"/>
        </div>
        <nuxt-link class="product__name" :is="tag" :to="`/${this.product.category.url}/${this.product.url}`">
            {{ product.name }}
        </nuxt-link>
        <div class="product__ingredients">
            <div class="product__label">Состав:</div>
            {{ product['ingredients'] }}
        </div>
        {{ additionalsCrmIds }}
        <ProductOption
            :category="product['categoryId']"
            :options="product.options"
            @changeSize="changeSize"
            @changeAdditionals="changeAdditionals"
        />
        <div class="product__bottom" v-if="product.options.length >= 1">
            <div class="product__price">{{ price }} грн</div>
            <div class="qty" v-if="activeOptionInCart">
                <button class="qty__button" @click="changeQTY('decrement')">-</button>
                <input class="qty__input" :value="activeOptionInCart.qty" @change="changeQTY('set', $event)"
                       maxlength="2">
                <button class="qty__button" @click="changeQTY('increment')">+</button>
            </div>
            <button v-else class="button product__button" @click="addProductToCart(product)">
                <span class="product__text">В корзину</span>
            </button>

        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
    props: {
        product: Object,
        type: {
            type: String,
            default: 'similar'
        }
    },
    data() {
        return {
            activeImage: 0,
            activeSize: {},
            additionals: []
        }
    },
    created() {
        this.activeSize = this.sizeOptions[0];
    },
    methods: {
        ...mapMutations({
            openModal: 'modal/openModal'
        }),
        ...mapActions({
            addProduct: 'cart/addProduct'
        }),
        addProductToCart() {
            this.addProduct({
                size: {
                    id: this.activeSize.id,
                    crmId: this.activeSize.crmId
                },
                additionals: this.additionals,
            });
        },
        changeQTY(action, event) {
            let payload = {
                action,
                value: (event) ? event.target.value : 0,
                data: this.activeOptionInCart
            }
            this.changeProductQTY(payload);
        },
        changeSize(size) {
            this.activeSize = size;
        },
        changeAdditionals(additionals) {
            this.additionals = additionals;
        },
        ...mapMutations({
            changeProductQTY: 'cart/changeProductQTY',
            removeProduct: 'cart/removeProduct'
        }),
    },
    computed: {
        ...mapGetters('cart', ['getList']),
        sizeOptions() {
            return this.product.options.filter(option => option.data.type === 1);
        },
        additionalsCrmIds() {
            let ids = []
            return this.additionals.forEach(id => {
                let finding = this.additionalOptions.find(additional => additional.id === id);
                if (finding) ids.push(finding.crmId);
                return ids;
            });
        },
        additionalOptions() {
            return this.product.options.filter(option => option.data.type !== 1);
        },
        tag() {
            return (this.type === 'similar') ? 'nuxt-link' : 'div';
        },
        price() {
            let amount = 0;
            amount += this.activeSize.price;
            this.additionals.forEach(addition => {
                let item = this.additionalOptions.find(item => item.id === addition.id);
                amount += item.price;
            });
            return amount;
        },
        activeOptionInCart() {
            let activeOption;
            this.getList
                .filter(item => item.size.id === this.activeSize.id).some(item => {
                if (this.additionals.length > 0) {
                    let every = this.additionals.every(additional => {
                        return item.additionals.find(a => additional.id === a.id)
                    });
                    if (every) {
                        activeOption = item;
                        return true;
                    }
                } else if (this.additionals.length === item.additionals.length) {
                    activeOption = item;
                    return true;
                }
            });
            return activeOption;
        },
    }
}
</script>

<style lang="sass" scoped>

.product

    &__item
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 10px
        background-color: $white
        width: calc(50% - 10px)
        padding: 15px 10px
        margin-top: 45px
        position: relative
        text-align: center
        z-index: 1
        display: flex
        flex-direction: column

        @media (min-width: 1200px)
            margin-right: 30px
            margin-top: 110px
            width: calc((100% / 4) - (90px / 4))

            &:nth-child(4n)
                margin-right: 0

        &:nth-child(2n)

            @media (max-width: 1199px)
                top: -30px

        .product--similar &

            @media (max-width: 1199px)
                margin-left: 10px
                margin-right: 10px
                min-width: calc(50% - 30px)

                &:nth-child(2n)
                    top: 0


        .product--full &
            width: 100%
            margin-top: 0
            padding: 15px 25px

            @media (min-width: 1200px)
                background-color: transparent
                box-shadow: none
                position: relative
                padding: 50px 0 50px 600px
                text-align: left
                min-height: 540px
                display: flex
                flex-direction: column
                justify-content: center

    &__actions
        width: 100px
        margin: 0 auto
        display: flex
        justify-content: space-between
        height: 16px

        @media (min-width: 1200px)
            width: 140px
            height: 22px

        .product--full &
            width: 220px

    &__favorites
        display: flex

    &__label
        color: $purple

    &__feature
        display: flex
        position: absolute
        left: 0
        top: 50%

        .product:not(.product--full) &
            transform: translate(-50%, -50%)
            padding: 5px
            background-color: $white
            border-radius: 50%
            box-shadow: 0 0 7px rgba($black, .1)

        .product--full &

            @media (max-width: 1199px)

                transform: translate(-50%, -50%)
                padding: 5px
                background-color: $white
                border-radius: 50%
                box-shadow: 0 0 7px rgba($black, .1)

            @media (min-width: 1200px)
                left: 35px
                top: 495px

    &__icon
        width: 16px
        height: 16px

        .product--full &
            width: 22px
            height: 22px

            @media (min-width: 1200px)
                width: 30px
                height: 30px

    &__name
        font:
            size: 16px
            weight: 900
        color: $purple
        text-decoration: none
        line-height: 1.2
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center

        @media (min-width: 1200px)
            font-size: 18px
            padding: 0 10px

        .product--full &
            font-size: 18px
            margin-top: 0
            cursor: initial

            @media (min-width: 1200px)
                font-size: 50px
                padding: 0
                justify-content: flex-start

        .product__list--sushi &
            height: 57px


            @media (min-width: 1200px)
                height: 42px

        .product__list--wok &

            @media (min-width: 1200px)
                height: 42px

    &__ingredients
        color: #868686
        font:
            weight: 400
            size: 14px
        position: relative
        display: none

        .product--full &
            display: block

        @media (min-width: 1200px)
            margin-top: 15px

        .product--full &
            padding: 0 10px
            margin-top: 10px

            @media (min-width: 1200px)
                margin-top: 55px
                max-width: 530px
                padding: 0


    &__bottom
        display: flex
        flex-direction: column
        align-items: center
        margin-top: auto
        padding-top: 15px

        .product--full &

            @media (min-width: 1200px)
                flex-direction: row-reverse
                justify-content: flex-end
                align-items: center
                margin-top: 40px

    &__price
        font:
            size: 16px
            weight: 800

        @media (min-width: 1200px)
            font-size: 18px

            .product--full &
                font-size: 18px

                @media (min-width: 1200px)
                    font-size: 24px
                    margin-left: 45px

    &__button
        width: 100%
        height: 32px
        cursor: pointer
        line-height: 1
        font-size: 24px
        border-radius: 7px
        display: flex
        margin-top: 15px
        white-space: nowrap

        @media (min-width: 1200px)
            margin-top: 15px
            width: 240px
            height: 40px
            margin-bottom: -35px
            border-radius: 10px

        .product--full &
            margin-top: 15px
            width: 256px
            height: 40px
            margin-bottom: -35px
            border-radius: 10px

            @media (min-width: 1200px)
                margin-bottom: 0
                margin-top: 0

    &__plus
        width: 12px
        height: 12px

        @media (min-width: 1200px)
            display: none

    &__text
        font:
            size: 14px
            weight: 700

.qty
    display: inline-flex
    justify-content: center
    margin-top: 15px
    height: 32px

    @media (min-width: 1200px)
        height: 40px
        margin-bottom: -35px

    .product--full &
        height: 40px
        margin-bottom: -35px

        @media (min-width: 1200px)
            margin-bottom: 0
            margin-top: 0
            width: 256px

    &__input
        width: 32px
        text-align: center
        margin: 0 10px
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 7px
        border: none
        outline-color: $yellow
        font-size: 14px
        appearance: none

        @media (min-width: 1200px)
            width: 40px
            font-size: 16px
            border-radius: 10px

        .product--full &
            width: 40px
            font-size: 16px
            border-radius: 10px

            @media (min-width: 1200px)
                flex-grow: 1

    &__button
        background-color: $yellow
        border: none
        border-radius: 7px
        outline: none
        width: 32px
        height: 32px
        cursor: pointer
        font-size: 16px
        box-shadow: 0 0 7px rgba($black, .1)
        align-items: center
        justify-content: center
        display: flex

        &:hover
            background-color: #ecc525

        @media (min-width: 1200px)
            width: 40px
            height: 40px
            border-radius: 10px
            font-size: 20px

        .product--full &
            width: 40px
            height: 40px
            border-radius: 10px
            font-size: 20px
</style>
