<template>
    <div class="options">
        <div class="options__weight">{{ getSize }}</div>
        <div class="options__label options__label--size" v-if="sizeOptions.length > 1">Размер:</div>
        <ul class="options__list" v-if="sizeOptions.length > 1">
            <li class="options__item" v-for="option of sizeOptions">
                <button class="options__button"
                        :class="{ 'options__button--active': option.id === activeSize.id }"
                        @click="changeSize(option)">
                    {{ option.data.name }}
                </button>
            </li>
        </ul>
        <div class="options__hr"></div>
        <div class="options__label options__label--size" v-if="additionalOptions.length">Топпинги:</div>
        <ul class="options__list options__list--toppings" v-if="additionalOptions.length">
            <li class="options__item" v-for="option of additionalOptions">
                <button class="options__button"
                        :class="{ 'options__button--active': findTopping(option.id) }"
                        @click="changeTopping(option)">
                    <span class="options__circle"></span>
                    {{ option.data.name }}
                </button>
            </li>
        </ul>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
    props: {
        options: {
            type: Array,
            default: []
        },
        category: {
            type: Number
        }
    },
    data() {
        return {
            activeSize: {},
            additionals: [],
        }
    },
    created() {
        this.activeSize = this.sizeOptions[0];
    },
    methods: {
        changeSize(option) {
            this.activeSize = option;
            this.$emit('changeSize', option);
        },
        changeTopping(option) {
            if (this.findTopping(option.id)) {
                let index = this.additionals.indexOf(option.id);
                this.additionals.splice(index, 1);
            } else this.additionals.push({
                id: option.id,
                crmId: option.crmId
            });
            this.$emit('changeAdditionals', [...this.additionals]);
        },
        findTopping(id) {
            return this.additionals.find(additional => additional.id === id);
        },
    },
    computed: {
        sizeOptions() {
            return this.options.filter(option => option.data.type === 1);
        },
        additionalOptions() {
            return this.options.filter(option => option.data.type !== 1);
        },
        getSize() {
            let weight = this.activeSize?.weight || 0;
            let symbol = '';
            switch (this.category) {
                case 1:
                    symbol = 'Ø';
                    break;
                case 7:
                    symbol = 'мл';
                    break;
                default:
                    symbol = 'г'
                    break;
            }
            return `${weight} ${symbol}`
        }
    }
}
</script>

<style lang="sass" scoped>
.options
    margin-top: 10px

    @media (min-width: 1200px)
        margin-top: 15px

    &__line
        height: 1px
        background-color: #eee
        box-shadow: 0 0 7px rgba($black, .1)
        margin-bottom: 10px

    &__list
        display: inline-flex
        flex-direction: column
        align-items: center
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 5px
        position: relative

        &:not(:last-child)
            margin-bottom: 10px

        @media (min-width: 1200px)
            flex-direction: row
            justify-content: center

        &--toppings
            margin-top: 5px

        .product--full &
            flex-direction: row
            justify-content: center

            @media (min-width: 1200px)
                margin-top: 0

    &__item
        position: relative
        width: 100%

        @media (min-width: 1200px)
            border-radius: 10px

        .product--full &
            margin-bottom: 0


    &__weight
        color: #868686
        font:
            weight: 300
            size: 14px
        margin-bottom: 10px

        @media (min-width: 1200px)
            margin-bottom: 15px

        .product--full &

            @media (min-width: 1200px)
                font-size: 20px

    &__label
        color: $gray-dark
        line-height: 1
        margin-bottom: 10px
        font:
            size: 16px
            weight: 700
        display: none

        .product--full &

            @media (min-width: 1200px)
                display: block

        &--size
            margin-top: 20px

    &__button
        background-color: transparent
        border: none
        padding: 5px 15px
        outline: none
        cursor: pointer
        white-space: nowrap
        border-radius: 5px
        align-items: center
        display: flex
        margin: 0
        width: 100%
        font:
            size: 14px
            family: 'Nunito'

        @media (min-width: 1200px)
            padding: 5px 20px

        &--active
            background-color: $yellow
            cursor: default

        .options__list--toppings &
            white-space: nowrap
            border: 2px solid $yellow
            box-shadow: none
            padding: 5px 10px

            @media (min-width: 340px)
                padding: 5px 15px

    &__circle
        width: 10px
        height: 10px
        background-color: $yellow
        border: 2px solid $white
        border-radius: 6px
        margin-right: 5px
        position: absolute
        left: 50%
        top: -5px
        transform: translateX(-50%)

.combo
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    background-color: $white
    box-shadow: 0 0 7px rgba($black, .1)
</style>
