<template>
    <div class="preview"
         :class="[`preview--${$route.params.url}`]">
        <nuxt-link
            :to="`/${product.category.url}/${product.url}`"
            :is="tag"
            class="preview__container">
            <img
                :src="getImagePath(activeImage)"
                :alt="product.name"
                class="preview__image"
                :class="`preview__image--${product.category.url}`"
            >
        </nuxt-link>
        <div class="preview__list" v-if="!isSimilar && imagesCount > 1">
            <div class="preview__item"
                 :class="{ 'preview__item--active' : index === activeImage }"
                 v-for="(image, index) of images">
                <img
                    :src="getImagePath(index)"
                    @click="setActiveImage(index)"
                    class="preview__picture"
                    alt="">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        images: {
            type: Array,
            default: []
        },
        type: {
            type: String,
            default: 'similar'
        },
        product: {
            type: Object
        }
    },
    data() {
        return {
            activeImage: 0,
        }
    },
    computed: {
        tag() {
            return (this.isSimilar) ? 'nuxt-link' : 'div';
        },
        isSimilar() {
            return this.type === 'similar';
        },
        imagesCount() {
            return this.images.length;
        },
    },
    methods: {
        setActiveImage(index) {
            this.activeImage = index;
        },
        getImagePath(index) {
            let path = this.images[index]?.path;
            return (path) ? `${process.env.BASE_URL}/images/products/${path}` : require(`~/static/plug.jpg`);
        },
    }
}
</script>

<style lang="sass">
.preview
    margin: -40px auto 15px
    display: flex

    @media (min-width: 1200px)
        margin-top: -60px

    .product--full &
        height: auto
        margin-bottom: 15px

        @media (min-width: 1200px)
            width: auto
            position: absolute
            left: 45px
            top: 50%
            transform: translateY(-50%)
            margin: 0

    &__container
        margin: 0 auto

        .product--full &

            @media (min-width: 1200px)
                width: 450px
                height: 450px
                object-fit: contain
                display: flex

    &__image
        width: auto
        height: 100px
        margin: auto
        cursor: pointer

        @media (min-width: 1200px)
            height: 140px

        .product--full &
            height: 205px
            cursor: initial

            @media (min-width: 1200px)
                height: auto
                width: auto


        &--pizza
            height: 110px

            @media (min-width: 1200px)
                height: 160px

        &--sushi
            height: 72px

            @media (min-width: 1200px)
                height: 140px
                width: auto

            .product--full &
                width: 240px
                height: auto

                @media (min-width: 1200px)
                    width: auto

        &--wok
            height: 110px

            @media (max-width: 1199px)
                max-width: 200%
                position: relative
                left: 50%
                transform: translateX(-50%)

            @media (min-width: 1200px)
                height: 165px

    &__list
        display: flex
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 0

        @media (max-width: 1199px)
            display: none

    &__item
        width: 85px
        height: 85px
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 10px
        display: flex
        margin: 0 10px
        padding: 10px
        background-color: $white
        cursor: pointer

        &--active
            position: relative

            &::after
                content: ''
                position: absolute
                left: 50%
                bottom: 0
                transform: translateX(-50%)
                width: 70px
                height: 3px
                border-radius: 1.5px
                background-color: $yellow

    &__picture
        margin: auto
</style>
