<template>
    <div class="product__list" :class="`product__list--${param}`">
        <product-item v-for="product of products" :product="product" :key="product.id"></product-item>
        <div v-if="products.length === 0" style="margin-top: 45px">Пока ничего не добавлено</div>
    </div>
</template>

<script>

export default {

    props: {
        products: {
            type: Array,
            required: true
        }
    },

    computed: {
        param() {
            return this.$route.params.url;
        }
    },
}
</script>

<style lang="sass" scoped>

.product

    &__list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: -15px

        @media (min-width: 1200px)
            justify-content: flex-start
            margin-top: -70px
            margin-bottom: 20px

        .product--similar &

            @media (max-width: 1199px)
                flex-wrap: nowrap
                max-width: calc(100% + 40px)
                overflow-x: auto
                padding-bottom: 10px
                margin: 0 -20px -10px
                position: relative

                &::before, &::after
                    content: ''
                    min-width: 10px

</style>
