.button
    background-color: $yellow
    border-radius: 10px
    width: 256px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px
    border: none
    box-shadow: 0 0 7px rgba($black, .1)
    outline: none
    cursor: pointer
    margin: 0
    touch-action: none

    &:hover
        background-color: #ecc525

    &:disabled
        pointer-events: none
