.form

    &__label
        display: flex

    &__input,
    &__textarea
        background-color: $white
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 5px
        padding: 5px 10px
        outline: none
        appearance: none
        border: none
        font:
            size: 12px
            weight: 600
        resize: none

    &__group

        &--inline
            display: flex
            justify-content: space-between

    &__select
        display: inline-block
        max-width: 100%
        position: relative
        vertical-align: top

        select
            appearance: none
            align-items: center
            border: none
            background-color: $yellow
            //box-shadow: 0 0 7px rgba($black, .1)
            border-radius: 5px
            display: inline-flex
            font-size: 14px
            padding: 5px 10px
            justify-content: flex-start
            position: relative
            vertical-align: top
            color: $purple
            outline: none
            width: 100%
