.page

    &__content
        overflow: hidden

    &__container
        overflow: hidden
        padding-bottom: 88px
        padding-top: 48px
        display: flex
        flex-direction: column
        min-height: 100vh

        @media (min-width: 1200px)
            padding-top: 60px

        @media (min-width: 1380px)
            padding-bottom: 0

    &__wrapper
        background-color: $white
        border-radius: 10px
        position: relative
        padding-bottom: 40px

        @media(min-width: 1200px)
            margin: 0
            background-color: #fafafa

