.section
    padding: 35px calc(50% - 145px) 5px
    position: relative

    @media (min-width: 340px)
        padding-left: 20px
        padding-right: 20px

    @media (min-width: 390px)
        padding: 35px calc(50% - (360px / 2)) 5px

    @media (min-width: 1200px)
        padding: 45px calc(50% - 585px) 60px

    &__title
        margin-bottom: 15px
        font:
            size: 24px
            weight: 800

        @media (min-width: 1200px)
            font-size: 36px
            margin-bottom: 25px
            font-weight: bold

    &__desc
        color: $gray-dark

    &__link
        float: right
