<template>
    <div class="breadcrumbs" v-if="breadcrumbs">
        <nuxt-link :to="breadcrumbs[index].url" class="breadcrumbs__back">
            <svg-icon name="arrow" class="breadcrumbs__icon breadcrumbs__icon--arrow"></svg-icon>
            <span class="breadcrumbs__name breadcrumbs__name--mobile">{{ breadcrumbs[index].name }}</span>
            <span class="breadcrumbs__name breadcrumbs__name--desktop">Назад</span>
        </nuxt-link>
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item" v-for="crumb of breadcrumbs">
                <nuxt-link :to="crumb.url" class="breadcrumbs__link">{{ crumb.name }}</nuxt-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: ['breadcrumbs', 'index'],
}
</script>

<style lang="sass">
.breadcrumbs
    display: flex
    padding: 20px calc(50% - 145px)
    align-items: center
    background-color: $white

    @media (min-width: 340px)
        padding-left: 20px
        padding-right: 20px

    @media (min-width: 1200px)
        padding: 30px calc(50% - 585px)

    &--gray
        background-color: initial

    &__back
        box-shadow: 0 0 7px rgba($black, .1)
        height: 24px
        border-radius: 3px
        display: flex
        align-items: center
        padding: 0 15px
        font:
            size: 12px
            weight: 900
        color: $purple
        text-decoration: none

        @media (min-width: 1200px)
            margin-right: 25px
            background-color: #461d7c
            color: $white
            height: 30px
            padding: 0 20px

            &:hover
                background-color: $purple-hover

    &__name

        &--mobile

            @media (min-width: 1200px)
                display: none

        &--desktop

            @media (max-width: 1199px)
                display: none

    &__icon
        margin-right: 5px

        &--arrow
            transform: rotate(-180deg)
            width: 8px
            height: 8px

            @media (min-width: 1200px)
                fill: $white

    &__list
        display: flex

        @media (max-width: 1199px)
            display: none

    &__item
        display: flex
        line-height: 1
        margin: auto 0

        &:not(:last-child)
            margin-right: 10px

            &::after
                content: '/'
                display: flex
                margin-left: 10px
                font-size: 14px

    &__link
        color: $purple
        text-decoration: none
        font:
            size: 14px
            weight: 700

        .breadcrumbs__item:last-child &
            font-weight: 800

</style>
