<template>
    <div class="sidebar">
        <ul class="sidebar__list">
            <li class="sidebar__item" v-for="category of categories">
                <nuxt-link :to="`/${category.url}`"
                           class="sidebar__link"
                           active-class="sidebar__link--active"
                           exact-active-class="sidebar__link--active"
                           :class="{ 'sidebar__link--active' : $route.params.url === category.url }"
                >
                    <div class="sidebar__icon">
                        <svg-icon class="sidebar__image" :name="`sidebar/${category.url}`"/>
                    </div>
                    <span class="sidebar__name">{{ category.name }}</span>
                </nuxt-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    computed: {
        categories() {
            return this.$store.getters.categories
        },
    }
}
</script>

<style lang="sass" scoped>
.sidebar
    position: fixed
    left: 0
    bottom: 0
    background-color: $white
    width: 100%
    box-sizing: border-box
    box-shadow: 0 0 7px rgba($black, .1)
    z-index: 5

    @media (min-width: 1370px)
        left: 0
        bottom: 50%
        transform: translateY(50%)
        width: 70px
        border-radius: 0 10px 10px 0

    &__list
        display: flex
        align-items: center
        height: 88px
        overflow-x: auto
        box-sizing: border-box
        padding: 0 15px
        max-width: 375px
        margin: 0 auto

        &::after
            content: ''
            min-width: 15px
            height: 100%

        @media (min-width: 1370px)
            height: auto
            flex-direction: column
            padding: 15px

    &__item

        &:not(:last-child)
            margin-right: 10px

        @media (min-width: 1370px)

            &:not(:last-child)
                margin-bottom: 15px
                margin-right: 0

    &__link
        text-decoration: none
        display: flex
        align-items: center
        flex-direction: column

    &__icon
        width: 40px
        height: 40px
        box-shadow: 0 0 7px rgba($black, .1)
        border-radius: 10px
        display: flex
        margin-bottom: 10px

        svg use
            fill: $purple
            stroke: $purple

        .sidebar__link--active &
            background-color: $purple
            border-color: $purple

            svg use
                fill: $white
                stroke: $white

    &__image
        height: 20px
        margin: auto

    &__name
        line-height: 1
        font:
            size: 10px
            weight: 800
        color: $gray

        @media (min-width: 1370px)
            font-size: 11px
</style>
