<template>
    <div class="page__content">
        <div class="page__wrapper">
            <div class="section news">
                <ul>
                    <div class="news__name">{{ news.name }}</div>
                    <div class="news__desc">{{ news.desc }}</div>
                    {{ news.url }}
                    {{ $dayjs(news.created).format('DD.MM.YYYY') }}
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    async asyncData({ $axios, params, error }) {
        let id = parseInt(params.slug);
        const news = await $axios.$get(`/news/${id}`).catch(e => {
            error({ statusCode: 404, message: 'Страница не найдена' })
        });
        return { news }
    }
}
</script>
