<template>
    <div class="page__content">
        <Carousel/>
        <div class="page__wrapper">
            <div class="section news">
                <h1 class="section__title">Новости</h1>
                <News :news="news"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    async asyncData({ $axios }) {
        const news = await $axios.$get('/news')
        return { news }
    }
}
</script>

<style lang="sass" scoped>

</style>

