@import "reset"

body
    line-height: 1.4
    color: $purple
    min-width: 320px
    font:
        family: 'Nunito', sans-serif
        weight: 600

div.messenger

    @media (max-width: 900px)
        bottom: 110px
        z-index: 2

    &__close
        pointer-events: none

    &__switch
        background-color: #fcd227

@import "blocks/button"
@import "blocks/page"
@import "blocks/section"
@import "blocks/form"
