@mixin position($position, $top: null, $right: null, $bottom: null, $left: null)
    position: $position
    top: $top
    right: $right
    bottom: $bottom
    left: $left

@mixin absolute($args...)
    @include position(absolute, $args...)

@mixin relative($args...)
    @include position(relative, $args...)

@mixin fixed($args...)
    @include position(fixed, $args...)

@mixin size($width, $height: $width)
    width: $width
    height: $height


