*,
*::before,
*::after
    box-sizing: border-box

ul[class],
ol[class]
    padding: 0

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd
    margin: 0

body
    min-height: 100vh
    scroll-behavior: smooth
    text-rendering: optimizeSpeed
    line-height: 1.5

ul[class],
ol[class]
    list-style: none

img
    max-width: 100%
    display: block

input,
button,
textarea,
select
    font: inherit
