<template>
    <div class="page__container">
        <Header/>
        <Nuxt/>
        <Sidebar/>
        <Footer/>
        <Modal/>
        <script id="ss-gadget" src="https://customer.smartsender.eu/js/client/gd.min.js?v1.17.01" data-target="9zG0kT8a"
                data-domain="yimyim"></script>
    </div>
</template>

<script>
export default {
    head() {
        const canonical = `https://yimyim.com.ua${this.$route.path
            .toLowerCase()
            .replace(/\/$/, '')}`
        return {
            link: [{ rel: 'canonical', href: canonical }]
        }
    }
}
</script>
\\
