<template>
    <div class="error">
        <div class="error__content">
            <svg-icon class="error__icon" name="error"/>
            <div class="error__message">{{ error.message }}</div>
            <NuxtLink class="error__link" to="/">Вернуться на главную</NuxtLink>
        </div>
    </div>
</template>

<script>
export default {
    props: ['error'],
}
</script>

<style lang="sass">
.error
    padding: 50px calc(50% - 145px)
    height: 100%
    position: relative

    &__content
        border: 1px solid $yellow
        padding: 40px 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 10px

    &__icon
        width: 100px
        height: 100px
        fill: $yellow

    &__message
        font-size: 20px
        font-weight: bold
        margin: 15px 0

    &__link
        color: $black
</style>
