<template>
    <div class="modal" :class="{ 'modal--open' : open }">
        <div class="modal__close" @click="close"></div>
        <div class="modal__content"
             :class="`modal__content--${config.position} modal__content--${config.className}`">
            <component :is="componentInstance"></component>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'

export default {
    methods: {
        ...mapMutations({
            closeModal: "modal/closeModal"
        }),
        close() {
            this.closeModal();
        }
    },
    computed: {
        componentInstance() {
            if (this.config.template) return () => import(`@/components/modal/templates/${this.config.template}.vue`)
        },
        ...mapGetters({
            config: 'modal/config',
            open: 'modal/open'
        })
    }
}
</script>

<style lang="sass" scoped>
.modal
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    z-index: 30

    &:not(.modal--open)
        display: none

    &__close
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: rgba($black, .5)
        z-index: -1

    &__content
        background-color: $white
        width: 290px
        box-sizing: border-box
        padding: 30px
        border-radius: 10px
        margin: 0 auto

        &--top
            margin-top: 60px

        &--center
            margin: auto

        &--order-success
            padding: 30px 15px

</style>
