<template>
    <div class="page__content">
        <Carousel/>
        <div class="page__wrapper">
            <Categories/>
            <Features/>
            <Delivery/>
<!--            <About/>-->
        </div>
    </div>
</template>

<style lang="sass" scoped>


</style>
