<template>
    <div class="page__content">
        <Carousel/>
        <div class="page__wrapper">
            <div class="section">
                <h1 class="section__title">Кухня</h1>
            </div>
        </div>
    </div>
</template>

<style lang="sass" scoped>

</style>
