<template>
    <div class="page__content">
        <div class="page__wrapper">
            <Breadcrumbs :breadcrumbs="breadCrumbs" index="1" class="breadcrumbs--gray"/>
            <section class="section product product--full">
                <div class="product__container">
                    <ProductItem :product="product" type="full">
                        <template v-slot:arrows>
                            <div class="arrows">
                                <nuxt-link :to="`/${paramUrl}/${prevProduct}`" class="button arrows__button">
                                    <svg-icon name="arrow" class="arrows__icon arrows__icon--left"></svg-icon>
                                </nuxt-link>
                                <nuxt-link :to="`/${paramUrl}/${nextProduct}`"
                                           class="button arrows__button arrows__button--right">
                                    <svg-icon name="arrow" class="arrows__icon"></svg-icon>
                                </nuxt-link>
                            </div>
                        </template>
                        <div class="product__name">{{ product.name }}</div>
                    </ProductItem>
                </div>
            </section>
            <section class="section product product--similar" v-if="similar.length">
                <div class="section__title">C этим заказывают:</div>
                <ProductList :products="similar"/>
            </section>
        </div>
    </div>
</template>

<script>
import ProductList from "../../components/products/ProductList";

export default {

    components: { ProductList },
    middleware({ store, route, error }) {
        let product = store.getters.products.find(product => product.url === route.params.product);
        if (!product || product.category.url !== route.params.url)
            error({
                statusCode: 404,
                message: 'Страница не найдена'
            })
    },

    head({ $store, $route }) {
        const meta = $store.state.products.find(product => product.url === $route.params.product).meta;
        return {
            title: meta?.title,
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: meta?.description,
                }
            ]
        }
    },

    validate({ params, store }) {
        return store.getters.categories.findIndex(category => category.url === params.url) >= 0;
    },

    computed: {

        breadCrumbs() {
            return [
                {
                    name: 'Главная',
                    url: '/'
                },
                {
                    name: this.getCategory?.name,
                    url: `/${this.getCategory?.url}`
                },
                {
                    name: this.product.name,
                    url: `/${this.product.url}`
                }
            ]
        },

        getCategory() {
            return this.$store.getters.categories.find(category => category.id === this.product['categoryId'])
        },

        product() {
            return this.$store.getters.products.find(product => product.url === this.$route.params.product)
        },

        similar() {
            return this.$store.getters.products.filter(product => this.product.similar?.map(item => parseInt(item)).includes(product.id));
        },

        products() {
            return this.$store.getters.products.filter(product => product['categoryId'] === this.product['categoryId']);
        },

        currentIndex() {
            return this.products.findIndex(product => product.url === this.$route.params.product)
        },

        prevProduct() {
            const index = (this.currentIndex >= 1) ? this.currentIndex - 1 : this.products.length - 1;
            return this.products[index]?.url;
        },

        nextProduct() {
            const index = (this.currentIndex !== this.products.length - 1) ? this.currentIndex + 1 : 0;
            return this.products[index].url;
        },

        paramUrl() {
            return this.$route.params.url;
        }
    }
}
</script>

<style lang="sass" scoped>
.arrows
    position: absolute
    left: 0
    top: 60px
    width: 100%
    height: 42px
    z-index: -1

    @media (min-width: 1200px)
        top: 50%
        transform: translateY(-50%)

    &__button
        width: 20px
        height: 42px
        border-radius: 5px
        transform: translateX(-50%)
        position: absolute
        left: 0
        top: 0

        &--right
            transform: translateX(50%)
            left: auto
            right: 0

    &__icon
        width: 14px
        height: 14px

        &--left
            transform: rotate(-180deg)

.product

    &--similar

        @media (min-width: 1200px)
            padding-top: 0

    &--full

        @media (min-width: 1200px)
            z-index: 2
            padding-left: 0
            padding-right: 0
            padding-top: 0

    &__container
        position: relative

        .product--similar &

            @media (max-width: 1199px)

                &::before, &::after
                    content: ''
                    position: absolute
                    left: -20px
                    top: 0
                    width: 10px
                    height: 100%
                    z-index: 2
                    background: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%)

                &::after
                    left: auto
                    right: -20px
                    background: linear-gradient(90deg, rgba($white, 0) 0%, $white 100%)

        .product--full &

            @media (min-width: 1200px)
                padding: 0 calc(50% - 585px)

                &::before
                    content: ''
                    position: absolute
                    right: 0
                    top: 0
                    box-shadow: 0 0 7px rgba($black, .1)
                    width: calc(50% + 485px)
                    border-radius: 10px 0 0 10px
                    height: 100%
                    background-color: $white
                    z-index: -1

</style>
