<template>
    <Category/>
</template>

<script>
export default {

    middleware({ store, route, error }) {
        if (!store.getters.categories.find((category) => category.url === route.params.url))
            error({
                statusCode: 404,
                message: 'Страница не найдена'
            })
    },

    head({ $store, $route }) {
        const meta = $store.state.categories.find(category => category.url === $route.params.url).meta;
        return {
            title: meta?.title,
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: meta?.description,
                }
            ]
        }
    },

    computed: {

        // componentInstance() {
        //     if (this.isCategoryOrPage) return () => import(`@/components/pages/${this.isCategoryOrPage}.vue`)
        // },
        //
        // isCategoryOrPage() {
        //     if (this.categories.find((category) => category.url === this.$route.params.url)) return 'Category';
        //     else if (this.pages.find((page) => page.url === this.$route.params.url)) return 'Page';
        //     return false;
        // },

        categories() {
            return this.$store.getters.categories
        },

        pages() {
            return this.$store.getters.pages
        }
    }
}
</script>
