<template>
    <div class="page__content">
<!--        <Carousel/>-->
        <div class="page__wrapper">
            <Breadcrumbs :breadcrumbs="breadCrumbs" index="0"/>
            <section class="section product">
                <h1 class="section__title">{{ category.name }}</h1>
                <ProductList :products="products"/>
            </section>
            <Delivery/>
            <section class="section section--seo" v-html="category.text" v-show="category.text"></section>
        </div>
    </div>
</template>

<script>

export default {
    computed: {

        breadCrumbs() {
            return [
                {
                    name: 'Главная',
                    url: '/'
                },
                {
                    name: this.category?.name,
                    url: `/${this.category?.url}`
                }
            ]
        },

        products() {
            return this.$store.getters.products.filter(({ categoryId }) => categoryId === this.category.id);
        },
        category() {
            return this.$store.getters.categories.find((category) => category.url === this.$route.params.url);
        }
    }

}
</script>

<style lang="sass" scoped>
.product

    @media (max-width: 1199px)
        padding-top: 0

.section

    &--seo
        height: 190px
        overflow: hidden
        font-size: 16px

        h2
            color: $purple

</style>
