<template>
    <div v-html="page.content">
    </div>
</template>

<script>
export default {
    computed: {
        page () {
            return this.$store.getters.pages.find((page) => page.url === this.$route.params.url);
        }
    },
    head () {
        return {
            title: this.page.title,
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: this.page.description
                },
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: this.page.keywords
                }
            ]
        }
    }
}
</script>
